html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  height: 100%;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100%;
  background: black;
  font-family: sofia-pro, sans-serif;
  font-size: 16px;
  line-height: 140%;
  font-weight: 400;
  color: white;
  overflow-x: hidden;
}

h1 {
  margin: 16px 0;
  color: #fff;
  font-size: 60px;
  line-height: 110%;
  font-weight: 570;
  text-align: center;
}

h2 {
  margin-top: 10px;
  margin-bottom: 24px;
  color: #fff;
  font-size: 56px;
  line-height: 110%;
  font-weight: 900;
  text-align: center;
}

h3 {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #fff;
  font-size: 28px;
  line-height: 124%;
  font-weight: 700;
  text-align: center;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 38px;
  font-weight: 400;
}

h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #8a8f98;
  font-size: 20px;
  line-height: 160%;
  font-weight: 400;
  text-align: center;
  letter-spacing: 4.8px;
  text-transform: uppercase;
}

h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 28px;
  font-weight: 500;
}

p {
  margin-top: 0;
  margin-bottom: 10px;
  font-family: sofia-pro, sans-serif;
  font-size: 18px;
  line-height: 160%;
  font-weight: 400;
}
a {
  background-color: transparent;
  display: block;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
  color: white;
  text-decoration: underline;
}
a:hover {
  color: white;
  opacity: 0.75;
  transition: 0.42s;
}
a:active {
  color: white;
}

.typed-headline {
  white-space:nowrap;
  text-align: left;
  margin-left: -120px;
}

.typed-headline::after {
    content: "|";
    display: inline;
    animation: blink 1s infinite;
    color: #8a8f98;
}

@media screen and (max-width: 991px) {
  h1 {
    font-size: 48px;
  }
  h2 {
    font-size: 40px;
  }
  p {
    font-size: 18px;
  }
  .button {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
@media screen and (max-width: 767px) {
  h1 {
    font-size: 52px;
  }
  h5 {
    font-size: 16px;
  }
}
@media screen and (max-width: 479px) {
  h1 {
    font-size: 36px;
  }
  h2 {
    font-size: 32px;
  }
  .typed-headline {
    font-size: 32px;
    line-height: 120%;
    margin-left: -30px;
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

grad{
  background-image: linear-gradient(120deg,#b03be8,#4958f5);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}


.header {
  position: relative;
  width: 100%;
  z-index: 3;
}

.header ul {
  padding: 0;
  list-style: none;
  overflow: hidden;
}

.header li a {
  display: block;
  padding: 20px 20px;
  text-decoration: none;
  font-weight: bold;
}



.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
  background: black;
}

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: white;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: white;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */

@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}


.hero{
  text-align: center;
position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
max-width: 100%;

}

.button{
height: 52px;
margin-top: 200px;
margin-bottom: 22px;
padding-top: 14px;
padding-right: 54px;
padding-left: 24px;
border-radius: 8px;
background-color: #202020;
background-image: url("https://uploads-ssl.webflow.com/5ffc199ed786423eb2569667/5ffc25c866796717a0685141_arrow.svg"),linear-gradient(120deg,#b03be8,#4958f5);
background-position: 120px 50%,0 0;
background-size: 18px 12px,auto;
background-repeat: no-repeat,repeat;
font-size: 16px;
text-align: center;
-o-object-fit: fill;
object-fit: fill;
text-decoration: none;
}
