@import url('https://fonts.googleapis.com/css?family=Lexend+Deca|Livvic:400,600&display=swap');
* {
	transition: background-color 0.6s ease, color 0.05s ease;
}

body {
	font-family: Arial, sans-serif;
	font-size: 14px;
	-webkit-font-smoothing: antialiased;
	line-height: 1.6;
	margin: 0px;
	margin-left: 7px;
	margin-right: 7px;
	min-height: 100vh;
	overflow-x: hidden;
	width: 100%;
	-ms-overflow-style: none;
	/* IE and Edge */
	scrollbar-width: none;
	-webkit-overflow-scrolling: touch;
	background: black;
	color: white;
}

body::-webkit-scrollbar {
	display: none;
}

html {
	font-family: 'Inter', sans-serif;
	scroll-behavior: smooth;
	--color: white;
	--color-highlight: grey;
	---shadow: #grey;
	overflow-x: hidden;
	width: 100%;
	--text-gray: #3F4954;
	--bg-color: #0f0f0f;
	--nav: white;
	--team: #ebeef8;
	/* gradient colors */
	--sky: white;
	--link: darkblue;
	--base: hsl(282, 95%, 50%);
	--complimentary2: hsl(312, 95%, 50%);
}

.dmode {
	font-size: 20px;
}


/* ------------ ☀️ / 🌒 Switch Toggle ------------ */

.toggle {
	position: absolute;
	cursor: pointer;
	top: 20px;
	right: 25px;
	font-size: 150%;
	z-index: 10;
	margin-top: -10px;
	margin-right: 50px;
}

.toggle:before {
	content: '🌞';
}

.toggle.active:before {
	content: '🌙';
}

.toggle.animate {
	animation: animate .3s cubic-bezier(0.4, 0.0, 0.2, 1);
	transition: 0.05s ease;
}

.dark-mode {
	background-color: black;
	color: white;
	--color: white;
	--nav: black;
	--team: #242424;
	--link: lightblue;
}

.button {
	background: linear-gradient( 45deg, var(--base) 25%, var(--complimentary2));
	padding: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 10px;
	margin-right: 30px;
	font-size: 20px;
	transition: transform 150ms ease;
}

.buttons {
	position: absolute;
	margin-top: 180px;
}

button {
	background: transparent;
	font-size: 0.875rem;
	font-weight: 600;
	border: none;
	border-radius: 0.5rem;
	transition: transform 150ms ease;
}

button:hover {
	transform: scale(1.15);
	cursor: pointer;
}

.header {
	width: 100%;
	z-index: 3;
	position: fixed;
	top: 0;
	width: 100%;
	background: transparent;
}

.header ul {
	padding: 0;
	list-style: none;
	overflow: hidden;
}

.header li a {
	display: block;
	padding: 20px 20px;
	text-decoration: none;
	font-weight: bold;
}

.header .logo {
	display: block;
	float: left;
	font-size: 2em;
	padding: 10px 20px;
	text-decoration: none;
}

.header .menu {
	clear: both;
	max-height: 0;
	transition: max-height .2s ease-out;
	background: transparent;
}

.header .menu-icon {
	cursor: pointer;
	display: inline-block;
	float: right;
	padding: 28px 20px;
	margin-right: 30px;
	margin-top: 20px;
	position: relative;
	user-select: none;
}

.header .menu-icon .navicon {
	background: white;
	display: block;
	height: 2px;
	position: relative;
	transition: background .2s ease-out;
	width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
	background: white;
	content: '';
	display: block;
	height: 100%;
	position: absolute;
	transition: all .2s ease-out;
	width: 100%;
}

.header .menu-icon .navicon:before {
	top: 5px;
}

.header .menu-icon .navicon:after {
	top: -5px;
}


/* menu btn */

.header .menu-btn {
	display: none;
}

.header .menu-btn:checked~.menu {
	max-height: 240px;
}

.header .menu-btn:checked~.menu-icon .navicon {
	background: transparent;
}

.header .menu-btn:checked~.menu-icon .navicon:before {
	transform: rotate(-45deg);
}

.header .menu-btn:checked~.menu-icon .navicon:after {
	transform: rotate(45deg);
}

.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:after {
	top: 0;
}


/* 48em = 768px */

@media (min-width: 48em) {
	.header li {
		float: left;
	}
	.header li a {
		padding: 20px 30px;
	}
	.header .menu {
		clear: none;
		float: right;
		max-height: none;
	}
	.header .menu-icon {
		display: none;
	}
}


/* ------------------ navbar ----------------- */

.flex-row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	overflow-x: hidden;
}

a {
	text-decoration: none;
	color: white;
	transition: transform 150ms ease;
}

a:hover {
	transform: scale(1.15);
	cursor: pointer;
}

footer a {
	text-decoration: none;
	color: grey;
}

grad {
	background: linear-gradient( 45deg, var(--base) 25%, var(--complimentary2));
	color: #B664B0;
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-box-decoration-break: clone;
}

.hero {
	text-align: center;
	justify-content: center;
	position: relative;
	padding-bottom: 3rem;
	height: calc(100vh - 3rem);
}

.container {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 100%;
	height: 100%;
}


}
@keyframes floatUp {
	from {
		opacity: 0;
		margin-top: 50px
	}

	to {
		opacity: 1;
		margin-top: 0
	}
}
p {
	font-size: 20px;
}
footer {
	text-align: center;
	font-weight: bold;
}
.typed-headline {
	white-space: nowrap;
	text-align: left;
	font-size: 72px;
}
.typed-headline::after {
	content: "|";
	display: inline;
	animation: blink 1s infinite;
	margin-left: -10px;
}
@media screen and (max-width: 991px) {
	h1 {
		font-size: 48px;
	}

	h2 {
		font-size: 40px;
	}

	p {
		font-size: 18px;
	}

	.button {
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		-ms-flex-pack: center;
		justify-content: center;
	}
}
@media screen and (max-width: 767px) {
	h1 {
		font-size: 52px;
	}

	h5 {
		font-size: 16px;
	}
}
@media screen and (max-width: 479px) {
	h1 {
		font-size: 36px;
	}

	h2 {
		font-size: 32px;
	}

	.typed-headline {
		font-size: 35.5px;
		margin-left: 0px;
	}
}
@keyframes blink {
	0% {
		opacity: 1;
	}

	50% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}
.members {
	display: flex;
	max-width: 100%;
	justify-content: space-evenly;
	flex-wrap: wrap;
}
.individual {
	transition: transform 150ms ease;
	text-align: center;
	margin-left: 30px;
}
.individual:hover {
	transform: scale(1.1);
}


.object_astronaut {
  animation: rotate-astronaut 200s infinite linear both alternate;
}

.box_astronaut {
  z-index: -10 !important;
  position: absolute;
  top: 45%;
  right: 10%;
  will-change: transform;
  animation: move-astronaut 50s infinite linear both alternate;
}

.earth {
  position: absolute;
  top: 40%;
  left: 5%;
  z-index: 0;
	animation: earth 100s infinite linear both;
  /*    animation: earth 100s infinite linear both;*/
}

.moon {
  position: absolute;
  top: 20%;
  left: 15%;
  /*
    transform: rotate(0deg);
    transition: transform ease-in 99999999999s;
*/
}



@-moz-keyframes move-astronaut {
  100% {
    -moz-transform: translate(-540px, -540px);
  }
}
@-webkit-keyframes move-astronaut {
  100% {
    -webkit-transform: translate(-540px, -540px);
  }
}
@keyframes move-astronaut {
  100% {
    -webkit-transform: translate(-540px, -540px);
    transform: translate(-540px, -540px);
  }
}
@-moz-keyframes rotate-astronaut {
  100% {
    -moz-transform: rotate(-720deg);
  }
}
@-webkit-keyframes rotate-astronaut {
  100% {
    -webkit-transform: rotate(-720deg);
  }
}
@keyframes rotate-astronaut {
  100% {
    -webkit-transform: rotate(-720deg);
    transform: rotate(-720deg);
  }
}


@-moz-keyframes earth {
  100% {
    -moz-transform: rotate(-360deg);
    transition: transform 20s;
  }
}
@-webkit-keyframes earth {
  100% {
    -webkit-transform: rotate(-360deg);
    transition: transform 20s;
  }
}
@keyframes earth {
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
    transition: transform 20s;
  }
}
